{{template "base" .}}

{{define "content"}}
    {{$logs := index .Data "logs"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">Dashboard</h1>
                <hr>

                <div class="float-end">
                    <button data-bs-toggle="modal" data-bs-target="#confirmModal"
                            class="btn btn-outline-danger">Delete All
                    </button>
                </div>

                <table class="table table-compact table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{if gt (len $logs) 0}}
                        {{range $logs}}
                            <tr>
                                <td><a href="/admin/log-entry/{{.ID}}">{{.ID}}</a></td>
                                <td>{{.Name}}</td>
                                <td>{{.CreatedAt.Format "2006-01-02 03:04:05"}} UTC</td>
                                <td>{{.UpdatedAt.Format "2006-01-02 03:04:05"}} UTC</td>
                                <td><a href="/admin/update/{{.ID}}">Update timestamp</a></td>
                            </tr>
                        {{end}}
                    {{else}}
                        <tr>
                            <td colspan="5">No entries</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete all?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete all entries?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="deleteAll" type="button" class="btn btn-danger">Delete everything</button>
                </div>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>
        document.getElementById("deleteAll").addEventListener("click", function () {
            location.href = "/admin/delete-all";
        })
    </script>
{{end}}